<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NO Player found</title>
    <style media="screen">
      h1 {
        color: red;
      }
    </style>
  </head>
  <body>
    <h1>Sorry, no player found with name <%= @name %></h1>
  </body>
</html>
