<!-- Came from https://www.bootstrapzero.com/bootstrap-template/sign-in -->

<div id="loginModal" class="modal show" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="text-center">Login</h1>
      </div>
      <div class="modal-body">
        <%= form_tag login_path, html: { class: "form col-md-12 center-block" } do %>
          <div class="form-group">
            <%= text_field_tag :email, nil, class: "form-control input lg", placeholder: "Email" %>
          </div>
          <div class="form-group">
            <%= password_field_tag :password, nil, class: "form-control input lg", placeholder: "Password" %>
          </div>
          <div class="form-group">
            <%= submit_tag "Submit", class: "btn btn-primary btn-lg btn-block" %>
          </div>
        <% end %>

        <!-- <form class="form col-md-12 center-block">
          <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control input-lg" placeholder="Password">
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block">Sign In</button>
            <span class="pull-right"><a href="#">Register</a></span><span><a href="#">Need help?</a></span>
          </div>
        </form> -->
      </div>
    </div>
  </div>
</div>
