<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/search" method="post">
      <input name="search_color" type="text">
      <input type="submit" value="Search">
    </form>
  </body>
</html>
