!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title
  %body
    %p
      Search worked - you are searching for #{@search_color}
    %p
      found is #{@found}!
