
<% content_for :banner %>
Team Details
<% end %>

<% if @team %>
  <div>
    <h1>Updating Team Info</h1>
    <form action="/teams/<%= @team.id %>" method="post">
      <input name="_method" value="put" type="hidden">
      <ul>
        <li>
          <label for="name">Name</label>
          <input type="text" name="team[name]" value="<%= @team.name %>">
        </li>

        <li>
          <label for="mascot">Mascot</label>
          <input type="text" name="team[mascot]" value="<%= @team.mascot %>">
        </li>

        <li>
          <label for="sport">Sport</label>
          <input type="text" name="team[sport]" value="<%= @team.sport %>">
        </li>

        <li>
          <input type="submit" value="Update Team">
        </li>
      </ul>
    </form>

    <a href="/">Home</a>
  </div>
<% else %>
  <h1>No Team Found</h1>
  <a href="/">Home</a>
<% end %>
