<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TIY Sports - Team</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <h1>Add a Team</h1>
    <!-- CONVERT THIS TO USE CONTAINER -->
    <form action="/teams" method="post">
      <ul>
        <li>
          <label for="name">Name</label>
          <input type="text" name="name">
        </li>

        <li>
          <label for="mascot">Mascot</label>
          <input type="text" name="mascot">
        </li>

        <li>
          <label for="sport">Sport</label>
          <input type="text" name="sport">
        </li>

        <li>
          <input type="submit" value="Create">
        </li>
      </ul>
    </form>

    <a href="/">Home</a>
  </body>
</html>
