<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>No Team Found</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <h1>Sorry, no team was found with that name <%= @name %></h1>
  </body>
</html>
